<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="EpagesProviderWebServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup/><applicationSettings>
		<EpagesProviderWebServices.Properties.Settings>
   <setting name="EpagesProviderWebServices_ShopConfigService5Ref_ShopConfigService"
    serializeAs="String">
    <value>http://localhost/epages/Site.soap</value>
   </setting>
   <setting name="EpagesProviderWebServices_ShopConfigService6Ref_ShopConfigService"
    serializeAs="String">
    <value>http://localhost/epages/Site.soap</value>
   </setting>
   <setting name="EpagesProviderWebServices_ShopConfigService4Ref_ShopConfigService"
    serializeAs="String">
    <value>http://localhost/epages/Site.soap</value>
   </setting>
   <setting name="EpagesProviderWebServices_SimpleProvisioningServiceRef_SimpleProvisioningService"
    serializeAs="String">
    <value>http://localhost/epages/Site.soap</value>
   </setting>
   <setting name="EpagesProviderWebServices_ShopConfigService7Ref_ShopConfigService"
    serializeAs="String">
    <value>http://localhost/epages/Site.soap</value>
   </setting>
  </EpagesProviderWebServices.Properties.Settings>
	</applicationSettings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="bind_ShopConfig_SOAP" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost/epages/Site.soap" binding="basicHttpBinding"
    bindingConfiguration="bind_ShopConfig_SOAP" contract="ShopConfigService7Ref.port_ShopConfig"
    name="port_ShopConfig" />
  </client>
 </system.serviceModel>
</configuration>
