<?xml version="1.0" encoding="UTF-8"?>
<!--
  Example LOGBACK Configuration File
  http://logback.qos.ch/manual/configuration.html
  -->
<configuration scan="true" scanPeriod="10 seconds">
  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
  <!--  http://logback.qos.ch/manual/configuration.html#LevelChangePropagator -->
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/communication.log</file>

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %level - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>
  <logger name="httpclient.wire" level="DEBUG" />
 </configuration>