<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EpagesWebServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EpagesWebServices.Properties.Settings>
            <setting name="EpagesWebServices_CatalogServiceRef_CatalogService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_ProductService2Ref_ProductService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_ProductTypeServiceRef_ProductTypeService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_CustomerService3Ref_CustomerService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_ShippingMethodServiceRef_ShippingMethodService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_PaymentMethodServiceRef_PaymentMethodService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_OrderService3Ref_OrderService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_OrderService4Ref_OrderService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_CatalogService3Ref_CatalogService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_ProductService3Ref_ProductService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_localhost_OrderService" serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_ProductService5Ref_ProductService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_PriceListService2Ref_PriceListService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_ProductBundleServiceRef_ProductBundleService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_OrderService7Ref_OrderService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_ProductService6Ref_ProductService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_ProductService7Ref_ProductService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_OrderService8Ref_OrderService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_OrderDocumentService6Ref_OrderDocumentService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_CustomerService4Ref_CustomerService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_UserService4Ref_UserService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_UserService5Ref_UserService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_WebReference_CatalogService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_ProductServiceRef1_ProductService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_CustomerGroupService2Ref_CustomerGroupService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
            <setting name="EpagesWebServices_ProductService9Ref_ProductService"
                serializeAs="String">
                <value>http://localhost/epages/Store.soap</value>
            </setting>
        </EpagesWebServices.Properties.Settings>
    </applicationSettings>
</configuration>